@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  touch-action: pan-x pan-y;
  height: 100%; 
  --button:#ffffff;
  --back: #4d8ac7;
  --lkey:#cce5ff;
  --lkeytext:#5089be;
  --fkey:#a2d0f8;
  --dkeytext:#153c5a;
  --calc:#EBF5FF;
  --backg:#4d8ac7;
  --ckeytext:#ffffff;

  /* --button:#8c8c8c;
  --back: #ffffff;
  --backg: #000000;
  --lkey:#393939;
  --ckeytext:#000000;
  --lkeytext:#cfcfcf;
  --fkey:#535353;
  --dkeytext:#d9e3ea;
  --calc:#1b1b1b; */
}
html{
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
body{
  background-color: var(--backg);
  font-family: Poppins;
  display: flex;
  width:100vw;
  transition: 0.5s all;
  height: 100vh;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons div {
  background-color: var(--lkey);
  aspect-ratio: 1/1;
  display: flex;
  width: 4rem;
  font-family: Poppins;
  color: var(--dkeytext);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  transition:0.2s all ease-in;
  border-radius: 0.5em;
  font-weight: 800;
}
.buttons div:hover{
  /* background-color:#C0D9F2; */
  filter: brightness(95%);
} 
.buttons {
  display: grid;
  grid-template-areas:
    "clr mod plus back"
    "one two three minus"
    "four five six multi"
    "seven eight nine divide"
    "point zero ans ans";
}
#1 {
  grid-area: one;
}
#2 {
  grid-area: two;
}
#3 {
  grid-area: three;
}
#4 {
  grid-area: four;
}
#5 {
  grid-area: five;
}
#6 {
  grid-area: six;
}
#7 {
  grid-area: seven;
}
#8 {
  grid-area: eight;
}
#9 {
  grid-area: nine;
}
#0 {
  grid-area: zero;
}
#ans {
  grid-area: ans;
  width: 9rem;
  height: 4rem;
  background-color: var(--back);
  color: var(--ckeytext);
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#multi {
  grid-area: multi;
}
#divide {
  grid-area: divide;
}
#point {
  grid-area: point;
}
#mod {
  grid-area: mod;
}
#clr {
  grid-area: clr;
  background-color: var(--back);
  color: var(--ckeytext);
}
#back {
  grid-area: back;
}
#back,#mod,#plus,#minus,#multi,#divide{
  background-color: var(--fkey);
  color: var(--lkeytext);
}
#display{
  background-color: var(--lkey);
  display: flex;
  width: 19rem;
  height: 6rem;
  font-family: Poppins;
  color: var(--dkeytext);
  /*   text-transform: uppercase; */
  margin: 0.6rem;
  margin-block-end: 1rem;
  border-radius: 0.5em;
  font-weight: 800;
}
/* body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: black;
  flex-wrap: nowrap;
  align-content: center;} */
.calc{
  width:20rem;
  display:block; 
  user-select: none;
  padding:1rem;
  border-radius:1rem;
  background-color:var(--calc);
  box-shadow: 12px 12px 20px #00000015;
}
#disptext{
    text-align: right;
    justify-content: end;
    display: flex;
    font-size: 2em;
    padding: 0.8rem;
    padding-block-end: 0rem;
    align-items: flex-end;
    float: right;
    overflow-x: hidden;
    flex-direction: row-reverse;
}
#dark{
  aspect-ratio: 1/1;
  width:2.5rem;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  float: right;
  transform: rotate(-180deg);
  background-size: 1.5rem;
  background-image: url("images/mode.png");
  background-repeat: no-repeat;
  background-position: center;
  /* backdrop-filter: invert(100%); */
  transition: 0.5s all;
  position: fixed;
  display: block;
  left: 95%;
  top:0%;
  margin-top: 2rem;
  margin-right: 2rem;
}
p{  
  position:fixed;
  top:92%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dkeytext);
  /* filter: brightness(0%); */
}
@media screen and (orientation:portrait) {
  body{
    /* background-color: red; */
  }
  #dark{
    width: 7rem;
    left:84%;
    margin-top: 5%;
    background-size: 3.5rem;
  }
  p{
    font-size: 2rem;
  }
  .calc{
    transform:scale(2.2);
  }
}
