@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* resetting all css above */
:root {
    touch-action: pan-x pan-y;
/*     
    --back: #05445E;
    --backli: #377690;
    --li:#7dbcd6;
    --darker:#7dbcd6a9;

     */
    --back: #354f52;
    --backli: #52796f;
    --li:#c8d5b9;
    --darker:#c8d5b9a9;
    --nav:#253638;
}
html{
    transition: all 0.4s ease-in-out;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  }
body{
    display: grid;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    transition: all 0.4s ease-in-out;
    align-items: center;
    min-height: 100vh;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--back);
    grid-template-areas:
        "data"
    /* "data"
    "data" */
        "footer";
    grid-template-rows: 7fr 1fr;
}
.form{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    /* overflow:scroll; */
    align-content: space-between;
}
ul{
    appearance: none;
    margin: auto;
    grid-area: data;
}
li{
    background-color: var(--backli);
    width: 15rem;
    list-style: none;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    /* text-transform: uppercase; */
    color:var(--li);
    padding: 0.5rem 0.8rem 0.5rem 1.5rem;
    border-radius: 5px;
}
#inputli{
    display: grid;
    padding-bottom: 20rem;
    padding:0.5rem 1.4rem 0.5rem 1.5rem;
    grid-template-areas:
        "input trash";
    grid-template-columns: 1fr 0.85fr;
    /* justify-content: space-evenly; */
    justify-items: start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.trash{
    position: absolute;
    margin-left: auto; 
    margin-right: 0;
    cursor: pointer;
    user-select: none;
    width: 1.2rem;
    background-color: var(--li);
    border-radius: 0.2rem;
    padding: 0.6rem;
    grid-area: trash;
}
input{
    background-color: var(--backli);
    width: 12.5rem;
    outline: none;
    font-family: Poppins;
    color:var(--li);
    font-size: 1rem;
    border-radius: 0.2rem;
    font-weight: 500;
    padding: 1rem 1rem 1rem 0rem;
    /* text-transform:capitalize; */
    border: none;
    height: 2rem;
    grid-area: input;
    transition: all 0s ease-in-out;
}
.active{
    transition: all 0.2s ease-in-out;
    transform: scaleY(0%);
    padding: 0;
    margin-top: -3.7rem;
    pointer-events: none;
    z-index: -100;
    opacity: 0;
}
#input{
    display: flex;
    margin-bottom: 20rem;
    flex-direction: column;
    transition: all 0s ease-in-out;
}
::-webkit-input-placeholder{
    color: var(--darker);
}
::-webkit-scrollbar{
    width: 0;
}
p{
    /* position:absolute; */
    font-size: 0.8rem;
    /* display:flex; */
    /* bottom:0; */
    /* margin-top: auto; */
    /* height: 2vh; */
    /* padding: 2rem; */
    font-weight: 600;
    /* margin-bottom: 2rem; */
    color: var(--darker);
    /* margin: 1rem; */
    grid-area: footer;
    margin-bottom: 5rem;
    /* filter: brightness(0%); */
} 
#1,#2,#3{
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: scale(100%);
    z-index: 1;
}
#load{
    /* display: flex; */
    /* margin:0 auto; */
    position: fixed;
    z-index: 140;
    width: 20rem;
    left:50%;
    top:50%;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    pointer-events: none;
    transform: translate(-50%,-50%);
    background-color: #21252E;
    padding: 100%;
    /* margin-left: auto; */
    /* justify-content: center;
    justify-items: center;
    align-items: center; */
}
h1{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    font-weight: 1000;
    color: var(--li);
}




.trash{
    position: relative;
    margin-left: auto; 
    margin-right: 0;
    cursor: pointer;
    /* width: 3rem; */
    background-color: var(--li);
    border-radius: 0.6rem;
    /* padding: 2.5rem; */
}   
li{
    background-color: var(--backli);
    /* width: 45rem; */
    list-style: none;
    /* margin: 0.5em; */
    display: flex;
    flex-direction: row;
    /* font-size: 2.5rem; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* text-transform: uppercase; */
    color:var(--li);
    /* padding: 2rem 2rem 2rem 3rem; */
    border-radius: 0.6rem;
}
input{
    background-color: var(--backli);
    /* width: 40rem; */
    outline: none;
    margin-left: 0;
    font-family: Poppins;
    color:var(--li);
    /* font-size: 2.5rem; */
    border-radius: 0.2rem;
    font-weight: 500;
    /* padding: 2rem 2rem 2rem 2rem; */
    /* text-transform:capitalize; */
    border: none;
    /* height: 2rem; */
    transition: all 0s ease-in-out;
}
#inputli .trash{
    position: relative;
    /* left: 100%; */
    z-index: 2;
    /* margin-right: 3rem; */
    /* background-color: rebeccapurple; */
}
#inputli{
    z-index: 10;
    grid-template-columns: 5fr 2fr;
}

li #text{
    display: inline-block;
    overflow:scroll;
    /* height: 1.5rem; */
    /* margin-top:auto; */
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    padding-top: 1rem;
    /* background-color: red; */
    /* padding: 1rem; */
    vertical-align: middle;
    margin-right: 1rem;
    padding-bottom: 0.1rem; 
    /* margin-bottom: 1rem; */
    transition: all 0s ease-in-out;
}

@media screen and (orientation:portrait) {
    p{
        font-size: 2rem;
        margin-bottom: 10rem;
    }
    /* body{
        appearance: none;
        overflow: scroll;
        grid-template-rows: 16fr 2fr;
        align-content: center;
    } */
    .active{
        transition: all 0.2s ease-in-out;
        transform: scaleY(0%);
        padding: 0;
        margin-top: -9rem;
        pointer-events: none;
        z-index: -100;
        opacity: 0;
    }
    #load{
        width: 50rem;
    }
    .trash{
        position: relative;
        margin-left: auto; 
        margin-right: 0;
        cursor: pointer;
        width: 3rem;
        background-color: var(--li);
        border-radius: 1.6rem;
        padding: 2.5rem;
    }   
    li{
        background-color: var(--backli);
        width: 45rem;
        list-style: none;
        margin: 0.5em;
        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        /* text-transform: uppercase; */
        color:var(--li);
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 1.6rem;
    }
    input{
        background-color: var(--backli);
        width: 40rem;
        outline: none;
        margin-left: 0;
        font-family: Poppins;
        color:var(--li);
        font-size: 2.5rem;
        border-radius: 0.2rem;
        font-weight: 500;
        padding: 2rem 2rem 2rem 4rem;
        /* text-transform:capitalize; */
        border: none;
        /* height: 2rem; */
        transition: all 0s ease-in-out;
    }
    #inputli .trash{
        position: relative;
        /* left: 100%; */
        z-index: 2;
        margin-right: 3rem;
        /* background-color: rebeccapurple; */
    }
    #inputli{
        grid-template-columns: 5fr 2fr;
    }
    h1{
        text-align: center;
        margin: 8rem;
        font-size: 6rem;
        font-weight: 1000;
        color: var(--li);
    }
    li #text{
        overflow-x:scroll;
        padding: 1rem;
        margin-bottom: 0rem;
        margin-right: 2rem;
    }
}
   